.ViewAll {
    display: flex;
    
}


.product_img {
    width: 18vw; 
    padding: 10px;
}

@media(max-width: 1200px) {
    .product_img {
        width: 22vw;
        padding: 10px;
    }
}

@media(max-width: 900px) {
    .product_img {
        width: 27vw;
        padding: 10px;
    }
}
@media(max-width: 790px) {
    .product_img {
        width: 39vw;
        padding: 10px;
    }
}
@media(max-width: 530px) {
    .product_img {
        width: 65vw;
        padding: 10px;
    }
}


p {
    text-decoration: none;
}